$navbarBackgroundHighlight: white;
$navbarBackground: white;
$btnPrimaryBackground: #B5007C;


@import 'bootstrap';

body {
    padding-top: 0px;
    height: 100%;   
    color: #008AB4;

}

body.homepage {
    padding-top: 0px;
    #background-image: url('realise-background-alt.png');
    background-repeat: no-repeat;
    background-position:center 300px;
    height: 100%;     
}

@import 'bootstrap-responsive';



.btn {
    padding: 10px 15px;
    font-size: 15px;
    font-weight: 400;
    line-height: 1.4;
    border: none;
    border-radius: 4px;
    -webkit-transition: border .25s linear,color .25s linear,background-color .25s linear;
    transition: border .25s linear,color .25s linear,background-color .25s linear;
    -webkit-font-smoothing: subpixel-antialiased;
}


ul, ol {
    padding: 11px;
    margin: 0px 0px 10px 25px;
}

a {
	color: ß;
	font-size: 11pt;
	font-weight: 500;
	text-shadow: none;
	font-family: Arial, "Arial";

}

a:hover {
	background-color: transparent;
}

#form-error {
	color: #b94a48 !important;
	background-color: #f2dede !important;
	border-color: #eed3d7 !important;
}

#form-success {
	color: #468847 !important;
	background-color: #dff0d8 !important;
	border-color: #d6e9c6 !important;
}

#message_name {
	width: 100%;
}

#message_country {
	width: 100%;
}

#message_doctor {
	width: 100%;
}

#message_body {
	width: 100%;
}

#registration_firstname {
	width: 100%;
}

#registration_lastname {
	width: 100%;
}

#registration_media {
	width: 100%;
}

#registration_country {
	width: 100%;
}

#registration_email {
	width: 100%;
}

abbr[title], abbr[data-original-title] {
cursor: help;
border-bottom: none;
}